<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Initialization for data source -->
    <bean id="dataSource"
          class = "org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name = "driverClassName" value = "com.mysql.jdbc.Driver"/>
        <property name = "url" value = "jdbc:mysql://sql11.freemysqlhosting.net:3306/sql11203717"/>
        <property name = "username" value = "sql11203717"/>
        <property name = "password" value = "UDUCVRcm7r"/>
    </bean>

    <!-- Definition for UserDao bean -->
    <bean id = "UserDao"
          class = "dao.UserDaoImpl">
        <property name = "dataSource" ref = "dataSource" />
    </bean>

    <!-- Definition for TourDao bean -->
    <bean id = "TourDao"
          class = "dao.TourDaoImpl">
        <property name = "dataSource" ref = "dataSource" />
    </bean>

    <!-- Definition for OrderDao bean -->
    <bean id = "OrderDao"
          class = "dao.OrderDaoImpl">
        <property name = "dataSource" ref = "dataSource" />
    </bean>

    <!-- Definition for DiscountDao bean -->
    <bean id = "DiscountDao"
          class = "dao.DiscountDaoImpl">
        <property name = "dataSource" ref = "dataSource" />
    </bean>

    <!-- Definition for AuthService bean-->
    <bean id = "authService"
          class="services.AuthService">
        <property name="dao" ref="UserDao"/>
    </bean>

    <!-- Definition for TourService bean-->
    <bean id = "tourService"
          class="services.TourService">
        <property name="dao" ref="TourDao"/>
        <property name="discountService" ref="services.DiscountService"/>
    </bean>

    <!-- Definition for OrderService bean-->
    <bean id = "orderService"
          class="services.OrderService">
        <property name="orderDao" ref="OrderDao"/>
        <property name="tourDao" ref="TourDao"/>
        <property name="userDao" ref="UserDao"/>
    </bean>

    <!-- Definition for DiscountService bean-->
    <bean id = "discountService"
          class="services.DiscountService">
        <property name="dao" ref="DiscountDao"/>
    </bean>
</beans>