<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Definition for UserDao bean -->
    <bean id = "UserDao"
          class = "dao.MockUserDaoImpl">
    </bean>

    <!-- Definition for UserDao bean -->
    <bean id = "TourDao"
          class = "dao.MockTourDaoImpl">
    </bean>

    <!-- Definition for RegistrationService bean-->
    <bean id = "authService"
          class="services.AuthService">
        <property name="dao" ref="UserDao"/>
    </bean>

    <!-- Definition for RegistrationService bean-->
    <bean id = "tourService"
          class="services.TourService">
        <property name="dao" ref="TourDao"/>
    </bean>


</beans>